/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;

}
.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #269d29;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


.flex{
    display: flex;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #269d29;
}

/* Estilo cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(109, 108, 108);
    text-decoration: none;
}

header a:hover{
    display: inline-block;
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


.contato button:hover{
    box-shadow: 0px 0px 8px #00ff0871;
    transform: scale(1.05);
}

/* Estilo do site */

section.topo-do-site{
    padding: 80px 4%;
}




section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
     gap: 80px;
}

.topo-do-site h1{
    color: white;
    font-size: 60px;
}

.topo-do-site h2{
    color: white;
    font-size: 30px;
}

.topo-do-site p{
    color: white;
    font-size: 20px;
}




.topo-do-site .txt-topo-site h1 span{
    color: #00ff0871;
    
}

.topo-do-site .txt-topo-site h2 span{
    color: #00ff0871;
}

.topo-do-site .txt-topo-site p span{
    color: #00ff0871;
    
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 35px 0;
}








/* Habilidades.html */

section.habilidades{
    padding: 40px 4%;
}

.habilidades .habilidades-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 25px;
    transition: 0.2s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.05px);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.533);
    
}

.habilidades .habilidades-box i{
    color: #269d29;
    font-size: 70px;
}

.habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* projetos.html */



.projetos-box .img-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    max-width: 450px;
    padding: 30px;
    margin-top: 45px;
    
    

}

.projetos-box .img-projeto:hover{
    transform: scale(1.05px);
    box-shadow: 0 0 8px rgb(233, 226, 226);
    
}


.projetos-box h3{
    color: white;
    text-align: center;
    margin-top: 20px;
    
}

.projetos-box h3 span{
    color: #269d29;
    
}


/* bio.html */









@media screen and (max-width: 1030px ) {
    /* Gerais */
 
    .flex{
        flex-direction: column-reverse;
    }
 

 
    
         /* cabecalho */
    .menu1 .contato{
        display: flex;
        max-width: 100%;
    }
 
 
    .menu-desktop ul li{
        padding: 0 20px;

    }
 
 
    /* topo do site */
     section.topo-do-site .flex{
         gap: 40px;
     }
     
 
     section.topo-do-site{
         padding: 20px 8%;
     }
 
     .topo-do-site h1{
         font-size: 28px;
     }
     
     .topo-do-site .img-topo-site{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
 
 }


@media screen and (max-width: 742px){
   /* Gerais */

   .flex{
    flex-direction: column-reverse;
}

   .menu-desktop li{
    display: flex ;
    padding: 0px 20px; 
}

   
        /* cabecalho */
    .menu1 .contato{
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;

}


    


   /* topo do site */
    section.topo-do-site .flex{
        gap: 40px;
    }
    

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 28px;
    }
    
    .topo-do-site .img-topo-site{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projetos-box .img-projeto{
        max-width: 100%;
    }

}

@media screen and (max-width: 376px){
    /* Gerais */
 
    .flex{
     flex-direction: column-reverse;
 }
 
    .menu-desktop li{
     display: flex ;
     padding: 0px 20px; 
 }
 
    
         /* cabecalho */
     .menu1 .contato{
     display: none;
 }
 
 
     
 
 
    /* topo do site */
     section.topo-do-site .flex{
         gap: 40px;
     }
     
 
     section.topo-do-site{
         padding: 20px 8%;
     }
 
     .topo-do-site h1{
         font-size: 28px;
     }
     
     .topo-do-site #img-topo-site{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* projetos */
    .projetos-box .img-projeto{
        max-width: 100%;
    }


 }
 
 
 
  





